body {
  margin: 0%;
  padding: 0%;
  background-color: black;
  margin: auto;
  width: 100%;
  padding: auto;
  overflow: auto;
}

.header {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
}

.test {
  position: relative;
  width: 100%;
  height: 100%;
}

.prvi {
  position: absolute;
  width: 100%;
  height: 6vw;
  background: #B50014;
  z-index: 9;
  top: 0.01vw;
}

.meni {
  margin-inline-start: 23%;
  display: flex;
  height: 93px;
  align-content: flex;
  align-items: center;
  gap: 4%;
  background: #B50014;
  justify-content: right;
  margin-right: 10%;
  top: 0.01vw;
}

.kontakt {
  display: flex;
  align-content: flex;
  align-items: center;
  gap: 5px;
  background: #B50014;
  top: 0.01vw;
}

.kontaktX {
  position: absolute;
  display: none;
  align-content: flex;
  align-items: center;
  gap: 5px;
  background: #B50014;
  top: 25%;
  margin-right: 12vw;
  width: 2.5vw;
  height: 2.5vw;
}

.dark {
  width: 5vw;
  height: 1.5vw;
  margin-right: -7vw;
  top: 2vw;
}

.darkMode {
  text-align: center;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: #535353;
  font-size: 0.8vw;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
}

.drugi {
  position: absolute;
  display: flex;
  width: 100%;
  height: 1.4vw;
  top: 5.7vw;
  background: black;
  z-index: 4;
}

.white {
  background: white !important;
  color: black !important;
}

.whiteTekstSlika {
  background: rgba(224, 224, 224, 0.3019607843) !important;
}

.blackLettersP {
  color: black !important;
}

.blackDugme {
  background-color: black !important;
  color: white !important;
}

.whiteDugme {
  background-color: white !important;
  color: black !important;
}

.drugip {
  color: white;
  width: 250%;
  height: 16px;
  left: 1188px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7vw;
  font-weight: 400;
  line-height: 16.41px;
}

.span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7vw;
  font-weight: 700;
  line-height: 16.41px;
}

.vreme {
  display: flex;
  gap: 5px;
  align-items: center;
  align-content: flex;
  margin-left: 60%;
  margin-right: 10%;
}

.satic {
  display: flex;
  width: 0.7vw;
}

.headerp {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  color: white;
}

.headerpD {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 18.75px;
  color: white;
}

.pdfmaliD {
  width: 2vw;
  height: 2vw;
}

.logo {
  position: absolute;
  width: 9vw;
  height: 9vw;
  left: 10%;
  z-index: 5;
}

.slike {
  position: absolute;
  top: 6.7vw;
  width: 100%;
  height: 37vw;
  z-index: 0;
}

.tekstSlika {
  display: block;
  position: absolute;
  align-content: center;
  background: rgba(0, 0, 0, 0.3019607843);
  top: 18vw;
  margin-right: 70%;
  width: 30vw;
  height: 17vw;
}

.photoSlider {
  display: flex;
  position: absolute;
  height: 100px;
  width: 300px;
  gap: 30px;
  margin-left: 43%;
  top: 600%;
}

.leftSlidersF {
  position: absolute;
  top: -8%;
  margin-left: -18%;
}

.rightSlidersF {
  position: absolute;
  top: -8%;
  margin-left: 75%;
}

.dots {
  position: absolute;
  display: flex;
  gap: 30px;
}

.naslov {
  margin-right: 10%;
}

.paragrafNaslov {
  margin-inline-start: 43%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Condensed;
  font-size: 1.9vw;
  font-weight: 700;
  line-height: 110%;
  color: #FFFFFF;
}

.paragraf {
  margin-right: 10%;
}

.paragrafTekst {
  margin-inline-start: 43%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9vw;
  font-weight: 300;
  line-height: 1.1vw;
  color: #FFFFFF;
}

.sledeci {
  display: flex;
  gap: 100px;
  position: absolute;
  top: 800%;
  width: 100%;
}

.leva {
  position: absolute;
  width: 427px;
  height: 400px;
  margin-inline-start: 25%;
}

.desna {
  position: absolute;
  width: 427px;
  height: 400px;
  margin-inline-start: 55%;
  top: 30px;
}

.spanX {
  display: none;
}

.tekst {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.naslovDole {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: white;
}

.naslovi {
  position: absolute;
}

.podnaslovi {
  position: absolute;
  top: 50px;
}

.jedanDeo {
  top: 120px;
  position: absolute;
}

.tekstPod {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.78px;
  text-align: left;
  color: white;
}

.velika {
  width: 100%;
  height: 300px;
}

.maleSlike {
  position: absolute;
  top: 300px;
  display: flex;
  gap: 10px;
  width: 167px;
  height: 167px;
}

.dugmad {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 430px;
  margin-inline-start: 4%;
}

.dugme {
  border-color: white;
  background-color: #B50014;
  color: white;
  border-width: 1px;
  border-radius: 150px;
  width: 174px;
  height: 47px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.treci {
  display: flex;
  position: absolute;
  background-color: #B50014;
  width: 100%;
  top: 1370%;
  height: 550%;
}

.levad {
  margin-inline-start: 25vw;
  position: absolute;
  display: block;
  top: 100px;
  align-items: center;
  text-wrap: true;
  width: 250px;
}

.hproba {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}

.desnad {
  position: absolute;
  margin-inline-start: 55%;
  height: 100%;
}

.slikaX {
  height: 100%;
  width: 100%;
}

.item {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: white;
  margin-bottom: 15px;
}

.dugmeE {
  margin-inline-start: 25px;
  position: absolute;
  border-color: #B50014;
  background-color: white;
  color: black;
  border-width: 1px;
  border-radius: 150px;
  width: 174px;
  height: 47px;
  top: 350px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.noviDiv {
  display: flex;
  width: 100%;
  position: absolute;
  top: 2000%;
  color: white;
  text-align: center;
  align-items: center;
}

.unutra {
  margin-inline-start: 33%;
  width: 650px;
}

.najveciTekst {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
}

.tekstPod1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.78px;
  text-align: center;
  color: white;
  margin-top: -10px;
}

.tekstovi {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.dugmeX {
  border-color: white;
  background-color: #B50014;
  color: white;
  border-width: 1px;
  border-radius: 150px;
  width: 174px;
  height: 47px;
  margin-top: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.cetvrti {
  display: flex;
  position: absolute;
  top: 2700px;
  width: 100%;
  align-items: center;
  text-align: center;
}

.linija {
  width: 400px;
  height: 1px;
  border: 0;
  top: 42px;
  background: #535353;
}

.hr {
  width: 50%;
}

.zaLiniju {
  position: absolute;
  margin-inline-start: 7px;
  top: 28px;
}

.zaLinijuPrvu {
  position: absolute;
  top: 28px;
  margin-inline-start: 508px;
}

.images {
  position: absolute;
  display: flex;
  width: 100%;
  top: 2830px;
  gap: 20px;
  justify-content: center;
}

.fourImages {
  width: 207px;
  height: 200px;
}

.spices {
  position: absolute;
  display: flex;
  width: 100%;
  background-color: #B50014;
  top: 3250px;
  height: 750px;
}

.spicePhoto {
  width: 960px;
  height: 100%;
}

.spiceText {
  margin-inline-start: 1100px;
  top: 150px;
  position: absolute;
  width: 450px;
}

.spicesTitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: white;
}

.spiceSubTitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: white;
  line-height: 30px;
}

.spiceParagraph {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: white;
}

.meatPlate {
  position: absolute;
  top: 4050px;
  width: 100%;
  height: 540px;
  background-image: url("slike/meatonplate.png");
}

.fleischversandButton {
  width: 100%;
  position: absolute;
  top: 160px;
  text-align: center;
  justify-content: center;
}

.meatPlateTitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: white;
}

.meatPlateButton {
  margin-inline-start: -84px;
  position: absolute;
  border-color: #B50014;
  background-color: white;
  color: black;
  border-width: 1px;
  border-radius: 150px;
  width: 174px;
  height: 47px;
  top: 90px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.genussnetzLogo {
  display: flex;
  position: absolute;
  top: 4700px;
  gap: 160px;
  margin-left: 500px;
}

.logoTitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: white;
}

.siteVisit {
  border-color: white;
  background-color: #B50014;
  color: white;
  border-width: 1px;
  border-radius: 150px;
  width: 174px;
  height: 47px;
  margin-top: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.linesWithLogo {
  display: flex;
  position: absolute;
  top: 5050px;
  width: 100%;
  align-items: center;
  text-align: center;
}

.rewards {
  display: flex;
  position: absolute;
  top: 5265px;
  margin-left: 480px;
}

.rewardsText {
  position: absolute;
  top: 50px;
  display: flex;
}

.rewardsH {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: white;
}

.medals {
  position: absolute;
  display: flex;
  gap: 50px;
  margin-left: 350px;
}

.reward {
  width: 118.98px;
  height: 118.98px;
  top: 5281px;
  left: 757px;
  gap: 0px;
  opacity: 0px;
}

.rewardOne {
  justify-content: center;
  text-align: center;
}

.description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5098039216);
}

.linesNoFour {
  display: flex;
  position: absolute;
  top: 5610px;
  width: 100%;
  align-items: center;
  text-align: center;
}

.reviewSegment {
  display: block;
  position: absolute;
  top: 5725px;
  width: 100%;
}

.topText {
  display: block;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.empfehlungs {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  color: rgba(255, 255, 255, 0.5098039216);
}

.reviewTitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color: white;
}

.reviews {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.leftReview {
  display: flex;
  position: absolute;
  background-color: rgba(54, 46, 46, 0.3019607843);
  width: 400px;
  height: 350px;
  top: 200px;
  margin-left: -1000px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.leftReviewContent {
  width: 300px;
}

.reviewText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  color: white;
}

.reviewerName {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5098039216);
}

.centerReview {
  position: absolute;
  display: flex;
  background-color: rgba(104, 90, 90, 0.51);
  width: 450px;
  height: 430px;
  justify-content: center;
  text-wrap: wrap;
}

.grill {
  position: absolute;
  width: 81px;
  height: 81px;
  top: 40px;
}

.stars {
  position: absolute;
  width: 92px;
  height: 30px;
  top: 140px;
}

.centerText {
  position: absolute;
  top: 180px;
  width: 350px;
}

.reviewTextCenter {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: white;
}

.centerName {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: white;
  line-height: 2px;
}

.below {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  color: white;
}

.rightReview {
  display: flex;
  position: absolute;
  background-color: rgba(54, 46, 46, 0.3019607843);
  width: 400px;
  height: 350px;
  top: 200px;
  margin-left: 1000px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.suffix {
  position: absolute;
  z-index: 1;
  top: 410px;
  margin-left: 370px;
}

.buttonOnBottom {
  position: absolute;
  display: flex;
  width: 100%;
  top: 6350px;
  justify-content: center;
}

.alleButton {
  border-color: white;
  background-color: #B50014;
  color: white;
  border-width: 1px;
  border-radius: 150px;
  width: 174px;
  height: 47px;
  margin-top: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.leftSliderD {
  position: absolute;
  background-color: black;
  border-color: black;
  top: 310px;
  margin-left: -500px;
}

.rightSliderD {
  position: absolute;
  margin-left: 500px;
  top: 310px;
  background-color: black;
}

.footerSegment {
  display: block;
  position: absolute;
  top: 6500px;
  width: 100%;
  height: 150px;
}

.upperPart {
  background-color: #B50014;
  width: 100%;
  height: 120px;
}

.lowerPart {
  background-color: #66000B;
  width: 100%;
  height: 30px;
}

.icons {
  position: absolute;
  margin-left: 300px;
  top: 10px;
  width: 20px;
  height: 120px;
}

.contactText {
  position: absolute;
  margin-left: 330px;
  top: -10px;
  width: 190px;
  height: 100px;
}

.contacts {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: white;
}

.middleLogo {
  position: absolute;
  height: 120px;
  width: 100px;
  margin-left: 910px;
}

.bottomLogo {
  width: 100%;
  height: 100%;
}

.paragraphBottom {
  position: absolute;
  top: 33px;
  margin-left: 1300px;
}

.social {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: white;
}

.socialMediaIcons {
  position: absolute;
  top: 42px;
  margin-left: 1480px;
  display: flex;
  width: 100px;
  height: 50px;
  gap: 15px;
}

.sMedia {
  width: 50px;
  height: 30px;
}

.lowerLeft {
  position: absolute;
  top: 110px;
  margin-left: 500px;
  height: 10px;
}

.lowerRight {
  position: absolute;
  top: 110px;
  margin-left: 1300px;
  height: 10px;
}

.rights {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5019607843);
}

.madeBy {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5019607843);
}

.companyName {
  font-style: italic;
  color: #ffffff;
}

.hamburgerMenu {
  position: absolute;
  top: 25%;
  width: 2.5vw;
  height: 2.5vw;
  margin-right: 1vw;
  display: none;
  flex-direction: column;
  gap: -1px;
}

.linijica {
  width: 50%;
  height: 50%;
}

.meniHamburger {
  position: absolute;
  display: none;
  width: 10vw;
  height: 20vw;
  top: 5.2vw;
  background-color: #B50014;
  padding: auto;
  padding-left: 1vw;
  text-align: left;
  z-index: 7;
}

.menip {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1vw;
}

.divForPopu {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  display: none;
  z-index: 30;
}

.Cookie {
  background-color: rgba(0, 0, 0, 0.8235294118);
  border-style: solid;
  border-color: #66000B;
  width: 40%;
  position: fixed;
  height: 30%;
  display: block;
  padding: auto;
  text-align: center;
  padding-top: 5%;
  top: 30%;
  margin-left: 26%;
  z-index: 40 !important;
  padding-left: 3%;
  padding-right: 3%;
  text-wrap: wrap;
}

.cookiesText {
  color: white;
}

.cookiesClose {
  border-color: white;
  background-color: #B50014;
  color: white;
  border-width: 1px;
  border-radius: 150px;
  width: 174px;
  height: 47px;
  margin-top: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.dugmePopup {
  background-color: black;
  width: 10%;
}

.swiper {
  width: 600px;
  height: 300px;
}

@media screen and (max-width: 1700px) {
  .prvi {
    width: 100%;
  }
  .dark {
    position: absolute;
    width: 8vw;
    height: 2.5vw;
    margin-right: 15vw;
    top: 27%;
  }
  .darkMode {
    text-align: center;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: #535353;
    font-size: 1.3vw;
    width: 100%;
    height: 100%;
    text-wrap: nowrap;
  }
  .meni {
    justify-content: right;
  }
  .headerp {
    display: none;
  }
  .kontakt {
    display: none;
  }
  .hamburgerMenu {
    display: flex;
  }
  .kontaktX {
    display: flex;
  }
  .spacing {
    display: none;
  }
  .spanX {
    display: flex;
  }
  .sledeci {
    display: flex;
    gap: 100px;
    position: absolute;
    top: 850%;
    width: 80vw;
  }
  .leva {
    position: absolute;
    width: 40vw;
    height: 1vw;
    margin-inline-start: 10%;
    top: 2vw;
  }
  .desna {
    position: absolute;
    width: 40%;
    height: 400px;
    margin-inline-start: 70%;
    top: 7vw;
  }
  .tekst {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.4vw;
    font-weight: 300;
    line-height: 2vw;
    text-align: left;
  }
  .naslovDole {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    color: white;
  }
  .naslovi {
    position: absolute;
  }
  .podnaslovi {
    position: absolute;
    top: 500%;
  }
  .jedanDeo {
    top: 10vw;
    position: absolute;
  }
  .tekstPod {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 1vw;
    text-align: left;
    color: white;
  }
  .velika {
    width: 110%;
    height: 100%;
  }
  .maleSlike {
    position: absolute;
    display: flex;
    width: 100%;
    height: 60%;
    top: 25vw;
  }
  .mala {
    width: 15vw;
    height: 8vw;
  }
  .dugmad {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 37vw;
    margin-inline-start: 4%;
  }
  .dugme {
    border-color: white;
    background-color: #B50014;
    color: white;
    border-width: 1px;
    border-radius: 150px;
    width: 15vw;
    height: 5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  .treci {
    display: flex;
    position: absolute;
    background-color: #B50014;
    width: 100%;
    top: 1700%;
    height: 600%;
  }
  .levad {
    margin-inline-start: 8vw;
    position: absolute;
    display: block;
    top: 3vw;
    align-items: center;
    text-wrap: true;
    width: 30vw;
  }
  .hproba {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 2.5vw;
    text-align: left;
    margin-left: 5%;
    width: 100%;
  }
  .desnad {
    position: absolute;
    margin-inline-start: 55%;
    height: 100%;
  }
  .slikaX {
    height: 100%;
    width: 100%;
  }
  .item {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 2vw;
    text-align: left;
    color: white;
    margin-bottom: 15px;
  }
  .dugmeE {
    margin-inline-start: 25px;
    position: absolute;
    border-color: #B50014;
    background-color: white;
    color: black;
    border-width: 1px;
    border-radius: 150px;
    width: 15vw;
    height: 5vw;
    top: 110%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  .noviDiv {
    display: flex;
    width: 100%;
    position: absolute;
    top: 2400%;
    color: white;
    text-align: center;
    align-items: center;
  }
  .unutra {
    margin-inline-start: 25vw;
    width: 50vw;
  }
  .najveciTekst {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3vw;
    font-weight: 700;
    line-height: 26px;
  }
  .tekstPod1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 25.78px;
    text-align: center;
    color: white;
    margin-top: -10px;
  }
  .tekstovi {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  .dugmeX {
    border-color: white;
    background-color: #B50014;
    color: white;
    border-width: 1px;
    border-radius: 150px;
    width: 18vw;
    height: 47px;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
}
@media screen and (min-width: 1700px) and (max-width: 10000px) {
  .meniHamburger {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hamburgerMenu {
    position: absolute;
    top: 13%;
    width: 14vw;
    height: 5vw;
    margin-right: -9vw;
    display: flex;
    gap: 1px;
    flex-direction: column;
  }
  .meniHamburger {
    position: absolute;
    display: none;
    width: 30vw;
    height: 60vw;
    top: 10vw;
    background-color: #B50014;
    border-color: #66000B;
    border-width: 3px;
    border-style: solid;
    padding: auto;
    padding-left: 1vw;
    text-align: left;
    z-index: 7;
    margin-right: -9vw;
  }
  .menip {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 3vw;
  }
  .kontaktX {
    position: absolute;
    display: flex;
    align-content: flex;
    align-items: center;
    gap: 5px;
    background: #B50014;
    top: 20%;
    margin-right: 20vw;
    width: 5vw;
    height: 2.5vw;
  }
  .dark {
    position: absolute;
    width: 12vw;
    height: 4vw;
    margin-right: 27vw;
    top: 17%;
  }
  .darkMode {
    text-align: center;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: #535353;
    font-size: 2vw;
    width: 100%;
    height: 100%;
    text-wrap: nowrap;
  }
  .headerpD {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 18.75px;
    color: white;
  }
  .pdfmaliD {
    width: 4vw;
    height: 4vw;
  }
  .linijica {
    width: 30%;
    height: 40%;
  }
  .tekstSlika {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.3019607843);
    top: 62.9vw;
    width: 100%;
    height: 300%;
    margin-left: 0px;
  }
  .spanX {
    display: flex;
  }
  .logo {
    width: 20vw;
    height: 50vw;
    top: -16vw;
    left: 5%;
  }
  .prvi {
    position: absolute;
    width: 100%;
    height: 20vw;
    background: #B50014;
    z-index: 3;
    top: 0.01vw;
  }
  .drugi {
    position: absolute;
    display: flex;
    width: 100%;
    height: 3vw;
    top: 10vw;
    background: black;
    z-index: 4;
  }
  .slike {
    position: absolute;
    top: 13vw;
    width: 100%;
    height: 50vw;
    z-index: 0;
  }
  .naslov {
    text-align: center;
    width: 100%;
  }
  .paragrafNaslov {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Condensed;
    font-size: 9vw;
    font-weight: 700;
    line-height: 110%;
    color: #FFFFFF;
    margin-inline-start: 0%;
  }
  .paragraf {
    text-align: center;
    width: 70%;
    padding-left: 14vw;
  }
  .paragrafTekst {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 4vw;
    font-weight: 300;
    line-height: 5vw;
    color: #FFFFFF;
    margin-inline-start: 0vw;
  }
  .drugip {
    color: white;
    width: 100%;
    height: 16px;
    left: 20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    line-height: 16.41px;
  }
  .span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2vw;
    font-weight: 700;
    line-height: 16.41px;
  }
  .vreme {
    display: flex;
    gap: 5px;
    align-items: center;
    align-content: flex;
    margin-left: 26%;
  }
  .satic {
    display: flex;
    width: 2vw;
  }
  .sledeci {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 600%;
  }
  .leva {
    position: absolute;
    width: 40vw;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    left: 20%;
  }
  .desna {
    position: absolute;
    width: 80%;
    height: 100%;
    margin-inline-start: 10%;
  }
  .tekst {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 4vw;
    font-weight: 300;
    line-height: 4vw;
    text-align: center;
  }
  .naslovDole {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 9vw;
    font-weight: 700;
    line-height: 8vw;
    text-align: left;
    color: white;
  }
  .naslovi {
    position: absolute;
    width: 50vw;
    top: 730%;
    margin-inline-start: 20%;
  }
  .podnaslovi {
    position: absolute;
    width: 50vw;
    top: 900%;
  }
  .jedanDeo {
    top: 1000%;
    width: 70vw;
    height: 10vw;
    position: absolute;
  }
  .tekstPod {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 5vw;
    font-weight: 700;
    line-height: 5vw;
    color: white;
  }
  .velika {
    width: 100%;
    height: 40%;
  }
  .maleSlike {
    position: absolute;
    display: flex;
    gap: 2%;
    width: 100%;
    height: 80%;
    top: 100%;
  }
  .mala {
    width: 33%;
    height: 100%;
    padding-top: 40%;
  }
  .dugmad {
    display: flex;
    align-items: center;
    gap: 30px;
    top: 170vw;
    width: 150%;
    height: 100%;
    position: relative;
    margin-left: 0%;
  }
  .dugme {
    border-color: white;
    background-color: #B50014;
    color: white;
    border-width: 1px;
    border-radius: 150px;
    width: 25vw;
    height: 10vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3vw;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  .Cookie {
    background-color: rgba(0, 0, 0, 0.8235294118);
    border-style: solid;
    border-color: #66000B;
    width: 90%;
    position: fixed;
    height: 30%;
    display: block;
    padding: auto;
    text-align: center;
    padding-top: 5%;
    top: 30%;
    margin-left: 2%;
    z-index: 15;
  }
  .cookiesText {
    color: white;
  }
  .cookiesClose {
    border-color: white;
    background-color: #B50014;
    color: white;
    border-width: 1px;
    border-radius: 150px;
    width: 174px;
    height: 47px;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  .dugmePopup {
    background-color: black;
    width: 10%;
  }
  .treci {
    display: block;
    flex-direction: column;
    position: absolute;
    background-color: #B50014;
    top: 1600%;
  }
  .levad {
    position: absolute;
    display: block;
    top: 3vw;
    align-items: center;
    text-wrap: wrap;
    width: 30vw;
    margin-left: 32%;
  }
  .hproba {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 9vw;
    font-weight: 700;
    line-height: 10vw;
    text-align: center;
    margin-left: -90%;
    width: 300%;
  }
  .desnad {
    position: absolute;
    height: 10%;
    margin-inline-start: 0%;
    width: 100%;
    top: 75%;
  }
  .slikaX {
    height: 550%;
    width: 100%;
  }
  .lista {
    justify-content: center;
    width: 100%;
  }
  .item {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 4vw;
    font-weight: 300;
    line-height: 3vw;
    text-align: left;
    color: white;
    margin-bottom: 15px;
    text-wrap: nowrap;
    margin-left: -20%;
    justify-content: center;
  }
  .dugmeE {
    margin-inline-start: 25px;
    position: absolute;
    border-color: #B50014;
    background-color: white;
    color: black;
    border-width: 1px;
    border-radius: 150px;
    width: 25vw;
    height: 10vw;
    top: 110%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 4vw;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  .ul {
    width: 150%;
  }
  .noviDiv {
    display: flex;
    width: 100%;
    position: absolute;
    top: 2420%;
    color: white;
    text-align: center;
    align-items: center;
  }
  .unutra {
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    width: 100%;
  }
  .najveciTekst {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 8vw;
    font-weight: 700;
    line-height: 30px;
    margin-inline-start: 1%;
  }
  .tekstPod1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 5vw;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: white;
    margin-top: -10px;
    width: 80%;
    margin-inline-start: 11%;
  }
  .tekstovi {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3vw;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  .dugmeX {
    border-color: white;
    background-color: #B50014;
    color: white;
    border-width: 1px;
    border-radius: 150px;
    width: 22vw;
    height: 47px;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3vw;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
}/*# sourceMappingURL=darko.css.map */